#ifndef SECRETS_H
#define SECRETS_H

// Local Wi-Fi Credentials (Fallback if NVS Flash is not configured via BLE)
#define SECRET_WIFI_SSID "YOUR_WIFI_SSID"
#define SECRET_WIFI_PASSWORD "YOUR_WIFI_PASSWORD"

// Optional WebSocket Token (if configured on the Python server)
#define SECRET_WS_TOKEN ""

#endif // SECRETS_H
